<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abc.apphome">
    <application>
        <activity
            android:name="com.abc.apphome.ZhorHomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="zhor"/>
                <data android:host="abc"/>
                <data android:path="/ZhorHomeActivity"/>
            </intent-filter>
        </activity>
    </application>
</manifest>